#Documentation on how
export ZSCALER_CLIENT_ID="YOUR_CLIENT_ID"
export ZSCALER_CLIENT_SECRET="YOUR_CLIENT_SECRET"

# Extract from your zidentity URL: https://<vaninty_domain>.zslogin.net/
export ZSCALER_VANITY_DOMAIN="YOUR_VANITY_DOMAIN"

# Your ZPA Instance ID
export ZPA_CUSTOMER_ID="YOUR_CUSTOMER_ID"
# Zscaler Env
export ZPA_CLOUD="PRODUCTION"


#Your can also use Legacy API with some scripts
export ZIA_API_KEY="YOUR_ZIA_API_KEY"
export ZIA_USERNAME="YOUR_ZIA_ADMIN_USERNAME"
export ZIA_PASSWORD="YOUR_ZIA_ADMIN_PASSWORD"
#zscalerone, zscalertwo, zscalerthree
export ZIA_CLOUD="YOUR_ZSCALER_CLOUD"

